# Equality of Opportunity - Data Exploration

The objective of this notebook is to assess feasibility of this collection of data and outline any challenges and necessary tasks.  
**Data source**: http://www.equality-of-opportunity.org/data/

In [1]:
import pandas as pd

##  Mobility Rates by College

**Cite**: 
_Mobility Report Cards: The Role of Colleges in Intergenerational Mobility_  
Chetty, Friedman, Saez, Turner, and Yagan (2017)  
"Mobility Statistics and Student Outcomes by College and Birth Cohort"

### Import Table 3: Baseline Longitudinal Estimates by College and Child’s Cohort

This table reports estimates of parents’ and children’s income distributions by college, separately by birth cohort. The variables in this file are identical to those in Table 2, with three exceptions:
 - First, we add the variable “cohort” which indexes the child’s birth cohort, from 1980 to 1991. 
 - Second, we drop the “imputed” and “shareimputed” variables because no data is imputed in this table. 
 - Third, we do not separate late-goers from never-goers, because the number of years for which we observe college attendance varies across cohorts. We combine these two groups into a single “not attending college at ages 19-22” group, and assign them super_opeid = -999, thereby redefining super_opeid as follows:  (see data dictionary in Readme.doc)

In [3]:
table3 = pd.io.stata.read_stata('../../data/01_raw/replicate_07222017_College_Mobility_ReportCards/data/mrc_table3.dta')
table3.head()

,super_opeid,cohort,name,type,tier,tier_name,iclevel,region,state,cz,...,ktop1pc_cond_parq1,ktop1pc_cond_parq2,ktop1pc_cond_parq3,ktop1pc_cond_parq4,ktop1pc_cond_parq5,k_married_cond_parq1,k_married_cond_parq2,k_married_cond_parq3,k_married_cond_parq4,k_married_cond_parq5
0,30955.0,1980.0,ASA Institute Of Business & Computer Technology,Private For-profit,Two-year for-profit,Two-year for-profit,Two-year,Northeast,NY,19400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30955.0,1981.0,ASA Institute Of Business & Computer Technology,Private For-profit,Two-year for-profit,Two-year for-profit,Two-year,Northeast,NY,19400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30955.0,1982.0,ASA Institute Of Business & Computer Technology,Private For-profit,Two-year for-profit,Two-year for-profit,Two-year,Northeast,NY,19400.0,...,0.000021,0.000000,0.000049,0.000000,0.0,0.117179,0.157029,0.102908,0.000000,0.000000
3,30955.0,1983.0,ASA Institute Of Business & Computer Technology,Private For-profit,Two-year for-profit,Two-year for-profit,Two-year,Northeast,NY,19400.0,...,0.000000,0.014382,0.000000,0.000205,0.0,0.143647,0.183957,0.124883,0.162552,0.203495
4,30955.0,1984.0,ASA Institute Of Business & Computer Technology,Private For-profit,Two-year for-profit,Two-year for-profit,Two-year,Northeast,NY,19400.0,...,0.000000,0.000215,0.000041,0.000000,0.0,0.130843,0.179817,0.113638,0.134755,0.170238

In [11]:
#table3.info()

In [ ]:
table5 = pd.io.stata.read_stata('replicate_07222017/data/mrc_table5.dta')
table5.head()

In [2]:
table6 = pd.io.stata.read_stata('../../data/01_raw/replicate_07222017_College_Mobility_ReportCards/data/mrc_table6.dta')
table6.head()

,par_pctile,tier,tier_name,par_mean,k_mean,k_rank,k_top1pc,k_top5pc,k_top10pc,k_q5,...,k_q3,k_q2,k_q1,k_nowork,married,k_median,k_median_nozero,count,tot_count,density
0,0.0,1.0,Ivy Plus,1500.0,198900.0,0.697863,0.155556,0.303704,0.370370,0.548148,...,0.140741,0.066667,0.125926,0.118519,0.459259,61300.0,68000.0,135.0,52724.0,0.002561
1,0.0,2.0,Other elite schools (public and private),1600.0,70300.0,0.659462,0.071101,0.211009,0.307339,0.506881,...,0.112385,0.103211,0.146789,0.137615,0.465596,56400.0,62400.0,436.0,183973.0,0.002370
2,0.0,3.0,Highly selective public,1700.0,55500.0,0.623840,0.031320,0.146532,0.229306,0.380313,...,0.128635,0.126398,0.137584,0.131991,0.431767,43700.0,50400.0,894.0,393548.0,0.002272
3,0.0,4.0,Highly selective private,1600.0,54000.0,0.592631,0.043307,0.161417,0.259843,0.385827,...,0.137795,0.145669,0.185039,0.181102,0.425197,41200.0,50900.0,254.0,134098.0,0.001894
4,0.0,5.0,Selective public,1800.0,37500.0,0.536784,0.006946,0.049882,0.108287,0.227309,...,0.197159,0.183741,0.160063,0.146330,0.422415,32000.0,37600.0,6335.0,1944082.0,0.003259

In [ ]:
table1 = pd.io.stata.read_stata('replicate_07222017/data/mrc_table1.dta')
table1.head()

In [ ]:
tables = []
for i in range(1,12):
    tables.append(pd.io.stata.read_stata(f'replicate_07222017/data/mrc_table{i}.dta'))
    
tables

## Opportunity Insights - All Outcomes by County, Race, Gender and Parental Income Percentile

FIPS State Codes: https://en.wikipedia.org/wiki/Federal_Information_Processing_Standard_state_code

In [12]:
county_data = pd.read_csv('../../data/01_raw/county_outcomes.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7886) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
county_data['county'] = county_data['county'].apply(lambda x: str(x).zfill(3))

In [ ]:
county_data.county.

There are 24 counties in MD (which also happens to have FIPS Code = 24), and I've confirmed that the dataset is providing information for each county.

In [30]:
county_data.county.value_counts()

001    50
003    50
005    49
009    49
007    48
013    48
015    47
011    47
019    46
017    46
021    45
023    45
027    45
025    43
029    42
031    42
033    41
035    40
037    40
041    39
043    39
039    39
045    39
047    38
049    37
053    37
051    37
057    37
061    36
059    36
       ..
070     1
501     1
690     1
423     1
343     1
493     1
437     1
427     1
349     1
650     1
710     1
457     1
383     1
369     1
449     1
180     1
590     1
014     1
355     1
431     1
028     1
164     1
685     1
461     1
401     1
678     1
282     1
473     1
419     1
323     1
Name: county, Length: 325, dtype: int64

In [31]:
county_data.loc[county_data.state == 24]

,state,county,kir_natam_female_p1,kir_natam_female_p25,kir_natam_female_p50,kir_natam_female_p75,kir_natam_female_p100,kir_natam_female_n,kir_natam_female_mean,jail_natam_female_p1,...,coll_white_pooled_mean_se,comcoll_white_pooled_mean_se,somecoll_white_pooled_mean_se,hs_white_pooled_mean_se,wgflx_rk_white_pooled_mean_se,hours_wk_white_pooled_mean_se,kfr_native_white_pooled_mean_se,kir_native_white_pooled_mean_se,kir_imm_white_pooled_mean_se,kfr_imm_white_pooled_mean_se
1192,24,001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.017212,0.018194,0.017319,0.006699,0.013664,0.845727,0.006933,0.006988,NaN,NaN
1193,24,003,0.372169,0.403634,0.424376,0.449707,0.513167,79.0,0.434684,-0.001631,...,0.007587,0.007601,0.006708,0.003367,0.006029,0.348926,0.003184,0.003293,0.013728,0.013382
1194,24,005,0.228898,0.307514,0.359337,0.422627,0.581182,102.0,0.372017,0.040849,...,0.006569,0.006570,0.005724,0.002774,0.005234,0.304283,0.002761,0.002788,0.011981,0.011987
1195,24,009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.018807,0.018436,0.015962,0.007629,0.014425,0.816173,0.007311,0.007464,0.037211,0.037615
1196,24,011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.024972,0.027690,0.027206,0.013320,0.022274,1.356824,0.010714,0.010718,NaN,NaN
1197,24,013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.011681,0.011555,0.010071,0.004477,0.009391,0.514999,0.004743,0.004882,0.028217,0.027832
1198,24,015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.015971,0.016308,0.015614,0.007700,0.013713,0.820998,0.006541,0.006483,0.046262,0.046263
1199,24,017,0.515794,0.489739,0.472564,0.451588,0.399039,35.0,0.462744,0.096913,...,0.015298,0.015621,0.013603,0.006647,0.013160,0.731652,0.005887,0.006219,0.032047,0.028996
1200,24,019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.031545,0.032581,0.030460,0.017237,0.027127,1.436164,0.012908,0.013236,NaN,NaN
1201,24,021,0.373061,0.404997,0.426049,0.451759,0.516168,21.0,0.453545,NaN,...,0.010518,0.010507,0.009145,0.004339,0.008223,0.481130,0.004223,0.004398,0.021025,0.021399
1202,24,023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.021363,0.023238,0.023473,0.011062,0.017719,1.137403,0.009078,0.009233,0.055628,0.048970
1203,24,025,0.307681,0.365896,0.404270,0.451136,0.568546,26.0,0.442740,-0.064446,...,0.010168,0.010312,0.009039,0.004206,0.008104,0.483902,0.004274,0.004294,0.021181,0.020457
1204,24,027,0.584134,0.534637,0.502010,0.462162,0.362336,28.0,0.453247,-0.061923,...,0.010320,0.009743,0.006841,0.003658,0.008513,0.476444,0.004308,0.004566,0.016602,0.016029
1205,24,029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.037482,0.038230,0.035556,0.013641,0.025898,1.783267,0.015102,0.015374,NaN,NaN
1206,24,031,0.372819,0.435628,0.477031,0.527595,0.654270,92.0,0.525300,-0.018118,...,0.006123,0.005755,0.003972,0.002451,0.005404,0.314699,0.002786,0.002925,0.008403,0.008158
1207,24,033,0.328513,0.446951,0.525024,0.620372,0.859241,131.0,0.570971,0.047794,...,0.010428,0.010351,0.009075,0.004426,0.008403,0.485185,0.004289,0.004392,0.016445,0.015676
1208,24,035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.023410,0.023911,0.022039,0.010347,0.020504,1.169982,0.009225,0.009680,0.044119,0.039580
1209,24,037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.018734,0.019305,0.016551,0.009014,0.015682,0.922489,0.007489,0.007654,0.046479,0.045830
1210,24,039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.038724,0.038957,0.035338,0.016966,0.027762,1.760214,0.015376,0.015091,NaN,NaN
1211,24,041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.029281,0.030206,0.026989,0.012780,0.023471,1.336741,0.011993,0.012055,NaN,NaN
1212,24,043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.012345,0.013230,0.013188,0.006853,0.010239,0.644891,0.005397,0.005366,0.036584,0.037954
1213,24,045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.019655,0.020045,0.018171,0.008977,0.017130,0.937511,0.007926,0.008032,0.052611,0.054851
1214,24,047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.025314,0.025707,0.023091,0.009048,0.020033,1.180399,0.010887,0.010756,0.054377,0.044197
1215,24,510,0.295568,0.343740,0.375494,0.414275,0.511430,111.0,0.354853,0.011290,...,0.010850,0.011325,0.011005,0.006737,0.009418,0.563065,0.005002,0.005063,0.021710,0.021891

### Next Section part II

## Impact of Neighborhood on Intergenerational Mobility II: County-Level Estimates (Chetty)

### Next Section part II

Nothing to add here

### Next Section part II

Nothing else to ask for

## Third Section

More words

### More Sections