# Introduction
State notebook purpose here

### Imports
Import libraries and write settings here.

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython
ipython = get_ipython()

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

# Visualizations
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
init_notebook_mode(connected=True)

import cufflinks as cf
cf.go_offline(connected=True)
cf.set_config_file(theme='white')

# Bring in both datasets
Do work here

In [2]:
data_imp = pd.read_pickle('../../data/03_processed/county_merged_imputed')
lat_lon = pd.read_csv('../../data/01_raw/lat_lon_counties.csv')

In [4]:
# Clean up lat_lon by padding fipscode column. 

lat_lon.columns

Index(['Unnamed: 0', 'Sort ', 'State', 'FIPS ', 'County ', 'CountySeat(s) ',
       'Population(2010)', 'LandAreakm2 ', 'LandAreami2 ', 'WaterAreakm2 ',
       'WaterAreami2 ', 'TotalAreakm2 ', 'TotalAreami2 ', 'Latitude ',
       'Longitude', 'Hover'],
      dtype='object')

In [8]:
lat_lon['FIPS ']=lat_lon['FIPS '].apply(lambda x: str(x).zfill(5))

In [11]:
lat_lon_sub = lat_lon[['FIPS ', 'Latitude ', 'Longitude', 'State', 'County ']]

In [12]:
lat_lon_sub.rename(columns={'FIPS ': 'fips', 
                            'Latitude ': 'lat',
                            'Longitude': 'lon', 
                            'State': 'state', 
                            'County': 'county'}, 
                   inplace=True)

In [16]:
lat_lon_sub.head()

    fips        lat        lon state  County
0  01001  32.536382 -86.644490    AL  Autauga
1  01003  30.659218 -87.746067    AL  Baldwin
2  01005  31.870670 -85.405456    AL  Barbour
3  01007  33.015893 -87.127148    AL     Bibb
4  01009  33.977448 -86.567246    AL   Blount

In [20]:
total = data_imp.merge(lat_lon_sub[['lat','lon']], how='outer', left_index=True,
    right_index=True )

In [18]:
lat_lon_sub.set_index('fips', inplace=True)

In [21]:
total['County FIPS Code'] = total['County FIPS Code'].apply(lambda x: '0500000US'+str(x))

In [23]:
total.lat.isna().sum()

4

# Export new file
Show graphs and stats here

In [24]:
total.to_pickle('../../data/03_processed/county_imp_geo')

# Conclusions and Next Steps
Summarize findings here